.hw-wrap-item {
  display: flex;

  @media screen and (max-width: 576px) {
    display: block;
  }

  .hw-item {
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background: #908686;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      transition: all .3s linear;
    }
    &:hover{
      &::before{
        opacity: 0;
      }
    }
    a {
      display: inline-block;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}